=begin
#Piiano Vault REST API

#--- sidebar_position: 1 sidebar_label: Overview description: The Piiano Vault REST API enables you to access and manage collections, objects, tokens, users, policies, and other resources within Piiano Vault. slug: / ---  # Introduction  The Piiano Vault REST API enables you to access and manage collections, objects, tokens, users, policies, and other resources within Piiano Vault in a simple, programmatic way using conventional HTTP requests and standard HTTP response codes.  The API follows RESTful conventions when possible, with most operations performed by `GET`, `POST`, `PUT`, `PATCH`, and `DELETE` requests. Request and response bodies are [JSON-encoded](https://www.json.org/json-en.html). However, for collection operations, an SQL-like [PVSchema](/guides/manage-collections-and-schemas/reference/pvschema) encoding is available.  This API reference provides details for each operation available in the API.  When you install a local copy of Vault, you can try each operation using **Send API request**.  An OpenAPI specification is available in [YAML](@site/static/assets/openapi.yaml) and [JSON](@site/static/assets/openapi.json) formats and can be used to generate client code for the API. 

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.3.0-SNAPSHOT

=end

require 'cgi'

module PvaultSdk
  class ConfigVarsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clear configuration variables
    # Clears all dynamic configuration variables.  The role performing this operation must have the `CapConfvarWriter` capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def clear_all_conf_vars(opts = {})
      clear_all_conf_vars_with_http_info(opts)
      nil
    end

    # Clear configuration variables
    # Clears all dynamic configuration variables.  The role performing this operation must have the &#x60;CapConfvarWriter&#x60; capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def clear_all_conf_vars_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigVarsApi.clear_all_conf_vars ...'
      end
      # resource path
      local_var_path = '/api/pvlt/1.0/system/confvar'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConfigVarsApi.clear_all_conf_vars",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigVarsApi#clear_all_conf_vars\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get configuration variable
    # Gets a dynamic configuration variable by name. The names of the variables that may be obtained are:  - `log_level`  The role that performs this operation must have the `CapConfvarReader` capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param name [String] The name of the configuration variable.
    # @param [Hash] opts the optional parameters
    # @return [ConfVar]
    def get_conf_var(name, opts = {})
      data, _status_code, _headers = get_conf_var_with_http_info(name, opts)
      data
    end

    # Get configuration variable
    # Gets a dynamic configuration variable by name. The names of the variables that may be obtained are:  - &#x60;log_level&#x60;  The role that performs this operation must have the &#x60;CapConfvarReader&#x60; capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param name [String] The name of the configuration variable.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfVar, Integer, Hash)>] ConfVar data, response status code and response headers
    def get_conf_var_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigVarsApi.get_conf_var ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ConfigVarsApi.get_conf_var"
      end
      # resource path
      local_var_path = '/api/pvlt/1.0/system/confvar/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfVar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConfigVarsApi.get_conf_var",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigVarsApi#get_conf_var\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set configuration variable
    # Sets a dynamic configuration variable by name. The names of the variables that may be set are:  - `log_level` which can take the values of `debug`, `info`, `warn`, and `error`.  The role that performs this operation must have the `CapConfvarWriter` capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param name [String] The name of the configuration variable.
    # @param conf_var_value [ConfVarValue] Value of the configuration.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_conf_var(name, conf_var_value, opts = {})
      set_conf_var_with_http_info(name, conf_var_value, opts)
      nil
    end

    # Set configuration variable
    # Sets a dynamic configuration variable by name. The names of the variables that may be set are:  - &#x60;log_level&#x60; which can take the values of &#x60;debug&#x60;, &#x60;info&#x60;, &#x60;warn&#x60;, and &#x60;error&#x60;.  The role that performs this operation must have the &#x60;CapConfvarWriter&#x60; capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param name [String] The name of the configuration variable.
    # @param conf_var_value [ConfVarValue] Value of the configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_conf_var_with_http_info(name, conf_var_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigVarsApi.set_conf_var ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ConfigVarsApi.set_conf_var"
      end
      # verify the required parameter 'conf_var_value' is set
      if @api_client.config.client_side_validation && conf_var_value.nil?
        fail ArgumentError, "Missing the required parameter 'conf_var_value' when calling ConfigVarsApi.set_conf_var"
      end
      # resource path
      local_var_path = '/api/pvlt/1.0/system/confvar/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(conf_var_value)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConfigVarsApi.set_conf_var",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigVarsApi#set_conf_var\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
