=begin
#Piiano Vault REST API

#--- sidebar_position: 1 sidebar_label: Overview description: The Piiano Vault REST API enables you to access and manage collections, objects, tokens, users, policies, and other resources within Piiano Vault. slug: / ---  # Introduction  The Piiano Vault REST API enables you to access and manage collections, objects, tokens, users, policies, and other resources within Piiano Vault in a simple, programmatic way using conventional HTTP requests and standard HTTP response codes.  The API follows RESTful conventions when possible, with most operations performed by `GET`, `POST`, `PUT`, `PATCH`, and `DELETE` requests. Request and response bodies are [JSON-encoded](https://www.json.org/json-en.html). However, for collection operations, an SQL-like [PVSchema](/guides/manage-collections-and-schemas/reference/pvschema) encoding is available.  This API reference provides details for each operation available in the API.  When you install a local copy of Vault, you can try each operation using **Send API request**.  An OpenAPI specification is available in [YAML](@site/static/assets/openapi.yaml) and [JSON](@site/static/assets/openapi.json) formats and can be used to generate client code for the API. 

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.3.0-SNAPSHOT

=end

require 'cgi'

module PvaultSdk
  class IAMApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get IAM configuration
    # Gets the identity and access management (IAM) configuration in TOML format.  The role that performs this operation must have the `CapIAMReader` capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param [Hash] opts the optional parameters
    # @return [AuthConfig]
    def get_iam_conf(opts = {})
      data, _status_code, _headers = get_iam_conf_with_http_info(opts)
      data
    end

    # Get IAM configuration
    # Gets the identity and access management (IAM) configuration in TOML format.  The role that performs this operation must have the &#x60;CapIAMReader&#x60; capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthConfig, Integer, Hash)>] AuthConfig data, response status code and response headers
    def get_iam_conf_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IAMApi.get_iam_conf ...'
      end
      # resource path
      local_var_path = '/api/pvlt/1.0/ctl/iam/conf'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/toml', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IAMApi.get_iam_conf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IAMApi#get_iam_conf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Regenerate user API key
    # Regenerates a user's API key. The existing API key is invalidated. This operation is irreversible.  The role that performs this operation must have the `CapIAMWriter` capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param user_name [UserName] The name of the user to regenerate API key for.
    # @param [Hash] opts the optional parameters
    # @return [APIKey]
    def regenerate_user_api_key(user_name, opts = {})
      data, _status_code, _headers = regenerate_user_api_key_with_http_info(user_name, opts)
      data
    end

    # Regenerate user API key
    # Regenerates a user&#39;s API key. The existing API key is invalidated. This operation is irreversible.  The role that performs this operation must have the &#x60;CapIAMWriter&#x60; capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param user_name [UserName] The name of the user to regenerate API key for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIKey, Integer, Hash)>] APIKey data, response status code and response headers
    def regenerate_user_api_key_with_http_info(user_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IAMApi.regenerate_user_api_key ...'
      end
      # verify the required parameter 'user_name' is set
      if @api_client.config.client_side_validation && user_name.nil?
        fail ArgumentError, "Missing the required parameter 'user_name' when calling IAMApi.regenerate_user_api_key"
      end
      # resource path
      local_var_path = '/api/pvlt/1.0/ctl/iam/user/regen'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_name)

      # return_type
      return_type = opts[:debug_return_type] || 'APIKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IAMApi.regenerate_user_api_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IAMApi#regenerate_user_api_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set IAM configuration
    # Sets the identity and access management (IAM) configuration.  The role that performs this operation must have the `CapIAMWriter` capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param auth_config [AuthConfig] IAM configuration in TOML format.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_iam_conf(auth_config, opts = {})
      set_iam_conf_with_http_info(auth_config, opts)
      nil
    end

    # Set IAM configuration
    # Sets the identity and access management (IAM) configuration.  The role that performs this operation must have the &#x60;CapIAMWriter&#x60; capability. See [Access control](/data-security/identity-and-access-management#access-control) for more information about how capabilities are used to control access to operations.
    # @param auth_config [AuthConfig] IAM configuration in TOML format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_iam_conf_with_http_info(auth_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IAMApi.set_iam_conf ...'
      end
      # verify the required parameter 'auth_config' is set
      if @api_client.config.client_side_validation && auth_config.nil?
        fail ArgumentError, "Missing the required parameter 'auth_config' when calling IAMApi.set_iam_conf"
      end
      # resource path
      local_var_path = '/api/pvlt/1.0/ctl/iam/conf'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/toml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_config)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IAMApi.set_iam_conf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IAMApi#set_iam_conf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
